.modal_container-bag {
  position: absolute;
  top: 81px;
  right: 71px;
  padding: 32px 16px;
  background-color: #fff;
  z-index: 1;
  max-height: 500px;
  overflow-y: scroll;
}

.bag_title {
  margin-bottom: 32px;
  @include text("Raleway", normal, 500, 16px, 160%, $basic-color);
  & > span {
    @include text("Raleway", normal, 700, 16px, 160%, $basic-color);
  }
}

.bag_container-info {
  margin-right: 4px;
  padding-right: 16px;
}

.bag_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.bag_denotation {
  & > p:nth-child(1n) {
    @include text("Raleway", normal, 300, 16px, 160%, $basic-color);
  }

  & > p:last-child {
    @include text("Raleway", normal, 500, 16px, 160%, $basic-color);
    margin-top: 4px;
    margin-bottom: 8px;
  }
}

.options {
  @include text("Raleway", normal, 400, 14px, 16px, $basic-color);
  margin-bottom: 8px;
}

.bag_change-options {
  @include text("Source Sans Pro", normal, 400, 14px, 160%, $basic-color);
  display: inline-block;
  border: 1px solid $basic-color;
  padding: 3px 8px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 4px;
  background: rgba(255, 255, 255, 0.2);
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.bag_change-options--active {
  @include text("Source Sans Pro", normal, 400, 14px, 160%, #fff);
  display: inline-block;
  border: 1px solid $basic-color;
  padding: 3px 8px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 4px;
  background: black;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.options_container {
  display: flex;
  align-items: center;
}

.options_color--active {
  width: 20px;
  height: 20px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  padding: 1px 1px;
  border: 1px solid #5ece7b;
  &:not(:last-child) {
    margin-right: 8px;
  }
  & > div {
    width: 16px;
    height: 16px;
  }
}

.options_color {
  border: none;
  width: 20px;
  height: 20px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  &:not(:last-child) {
    margin-right: 8px;
  }
  & > div {
    width: 16px;
    height: 16px;
  }
}

.bag_container-counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  margin-left: auto;
  margin-right: 8px;
  & > button:last-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid $basic-color;
    background-color: inherit;
    margin-top: 58px;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      width: 9px;
      height: 1px;
      background-color: $basic-color;
    }
  }
  & > button:first-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid $basic-color;
    background-color: inherit;
    margin-bottom: 58px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      display: inline-block;
      height: 9px;
      width: 1px;
      background-color: $basic-color;
    }
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      display: inline-block;
      width: 9px;
      height: 1px;
      background-color: $basic-color;
    }
  }

  & > span {
    text-align: center;
  }
}

.bag_container-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  & > p:first-child {
    @include text("Roboto", normal, 500, 16px, 18px, $basic-color);
    cursor: pointer;
  }
  & > p:last-child {
    @include text("Raleway", normal, 700, 16px, 160%, $basic-color);
    cursor: pointer;
  }
}

.bag_container-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > button {
    @include text("Raleway", normal, 600, 14px, 120%, $basic-color);
    cursor: pointer;
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid $basic-color;
  }
  & > button:first-child {
    padding: 13px 36px;
    color: $basic-color;
    border: 1px solid $basic-color;
  }

  & > button:last-child {
    padding: 13px 30px;
    color: #fff;
    background: #5ece7b;
    border: 1px solid #5ece7b;
  }
}
