// * BAG

.modal_container-bag {
  position: absolute;
  top: 81px;
  right: 71px;
  padding: 32px 16px;
  background-color: #fff;
  z-index: 2;
  max-height: 500px;
  overflow-y: scroll;
}

.bag_title {
  margin-bottom: 32px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  & > span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1d1f22;
  }
}

.bag_container-info {
  margin-right: 4px;
  width: 136px;
}

.bag_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 293px;
  margin-bottom: 40px;
}

.bag_denotation {
  & > p:nth-child(1n) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #1d1f22;
  }

  & > p:last-child {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1d1f22;
    margin-top: 4px;
    margin-bottom: 8px;
  }
}

.options {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1d1f22;
  margin-bottom: 8px;
}

.bag_change-options {
  font-family: "Source Sans Pro";
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  padding: 3px 8px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 4px;
  background: rgba(255, 255, 255, 0.2);
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.bag_change-options--active {
  font-family: "Source Sans Pro";
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  border: 1px solid #1d1f22;
  padding: 3px 8px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 4px;
  background: black;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.options_container {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  // margin-bottom: 8px;
}

.options_color--active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 20px;
  height: 20px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  padding: 1px 1px;
  border: 1px solid #5ece7b;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.options_color {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 20px;
  height: 20px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.bag_container-counter {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  & > button:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #1d1f22;
    background-color: inherit;
    margin-top: 58px;
    cursor: pointer;
  }
  & > button:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #1d1f22;
    background-color: inherit;
    margin-bottom: 58px;
    cursor: pointer;
  }

  & > span {
    text-align: center;
  }
}

.bag_container-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  & > p:first-child {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #1d1f22;
    cursor: pointer;
  }
  & > p:last-child {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1d1f22;
    cursor: pointer;
  }
}

.bag_container-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > button {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    line-height: 120%;
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid #1d1f22;
  }
  & > button:first-child {
    padding: 13px 36px;
    color: #1d1f22;
    border: 1px solid #1d1f22;
  }

  & > button:last-child {
    padding: 13px 30px;
    color: #fff;
    background: #5ece7b;
    border: 1px solid #5ece7b;
  }
}

// * CART

.cart_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1d1f22;
  margin-top: 75px;
  margin-bottom: 55px;
}

.cart_item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 24px;
  padding-bottom: 24px;
  &:first-child {
    border-top: 1px solid #e5e5e5;
  }
}

.cart_container-counter {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 24px;
  & > button:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #1d1f22;
    background-color: inherit;
    margin-top: 80px;
    cursor: pointer;
  }
  & > button:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #1d1f22;
    background-color: inherit;
    margin-bottom: 98px;
    cursor: pointer;
  }
  & > span {
    text-align: center;
  }
}

.cart_options-color--active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 36px;
  height: 36px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  padding: 1px 1px;
  border: 1px solid #5ece7b;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cart_options-color {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 36px;
  height: 36px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cart_options {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d1f22;
  margin-top: 20px;
  margin-bottom: 16px;
}

.cart_denotation {
  & > p:first-child {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    color: #1d1f22;
  }
  & > p:nth-child(2) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #1d1f22;
    margin-bottom: 20px;
    margin-top: 16px;
  }

  & > p:last-child {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #1d1f22;
  }
}

.cart_change-options--active {
  font-family: "Source Sans Pro";
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #fff;
  border: 1px solid #1d1f22;
  padding: 12px 25px 15px 25px;
  text-align: center;
  cursor: pointer;
  background: black;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cart_change-options {
  font-family: "Source Sans Pro";
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  padding: 12px 25px 15px 25px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cart_container-total {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.cart_total-name {
  & > p:nth-child(1n) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1d1f22;
  }

  & > p:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
  }

  & > p:nth-child(3) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1d1f22;
  }
}

.cart_total-result > p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
  &:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.cart_btn-order {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  background: #5ece7b;
  color: #ffffff;
  border: none;
  padding: 13px 116px;
  margin-top: 16px;
}
