.cart_title {
  @include text("Raleway", normal, 700, 32px, 40px, $basic-color);
  text-transform: uppercase;
  margin-top: 75px;
  margin-bottom: 55px;
}

.cart_item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 24px;
  padding-bottom: 24px;
  &:first-child {
    border-top: 1px solid #e5e5e5;
  }
}

.cart_container-counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  margin-left: auto;
  margin-right: 24px;
  & > button:last-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid $basic-color;
    background-color: inherit;
    cursor: pointer;
    border: 1px solid $basic-color;
    &::before {
      content: "";
      position: absolute;
      top: 21px;
      width: 15px;
      height: 1px;
      background-color: $basic-color;
    }
  }
  & > button:first-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid $basic-color;
    background-color: inherit;
    cursor: pointer;
    border: 1px solid $basic-color;
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      display: inline-block;
      height: 15px;
      width: 1px;
      background-color: $basic-color;
    }
    &::before {
      content: "";
      position: absolute;
      top: 21px;
      display: inline-block;
      width: 15px;
      height: 1px;
      background-color: $basic-color;
    }
  }
  & > span {
    text-align: center;
  }
}

.cart_options-color--active {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 36px;
  height: 36px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  padding: 1px 1px;
  border: 1px solid #5ece7b;
  &:not(:last-child) {
    margin-right: 8px;
  }
  & > div {
    width: 32px;
    height: 32px;
  }
}

.cart_options-color {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 36px;
  height: 36px;
  padding: 1px 1px;
  cursor: pointer;
  background-color: inherit;
  &:not(:last-child) {
    margin-right: 8px;
  }
  & > div {
    width: 32px;
    height: 32px;
  }
}

.cart_options {
  @include text("Roboto Condensed", normal, 700, 18px, 18px, $basic-color);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 16px;
}

.cart_denotation {
  & > p:first-child {
    @include text("Raleway", normal, 600, 30px, 27px, $basic-color);
  }
  & > p:nth-child(2) {
    @include text("Raleway", normal, 400, 30px, 27px, $basic-color);
    margin-bottom: 20px;
    margin-top: 16px;
  }

  & > p:last-child {
    @include text("Raleway", normal, 700, 24px, 24px, $basic-color);
  }
}

.cart_change-options--active {
  @include text("Source Sans Pro", normal, 400, 16px, 18px, #fff);
  display: inline-block;
  letter-spacing: 0.05em;
  border: 1px solid $basic-color;
  padding: 12px 25px 15px 25px;
  text-align: center;
  cursor: pointer;
  background: black;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cart_change-options {
  @include text("Source Sans Pro", normal, 400, 16px, 18px, $basic-color);
  display: inline-block;
  letter-spacing: 0.05em;
  border: 1px solid $basic-color;
  padding: 12px 25px 15px 25px;
  text-align: center;
  cursor: pointer;
  background: #fff;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.cart_container-total {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.cart_total-name {
  & > p:nth-child(1n) {
    @include text("Raleway", normal, 400, 24px, 28px, $basic-color);
  }

  & > p:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
  }

  & > p:nth-child(3) {
    @include text("Raleway", normal, 500, 24px, 28px, $basic-color);
  }
}

.cart_total-result > p {
  @include text("Raleway", normal, 700, 24px, 28px, $basic-color);
  &:nth-child(2) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.cart_btn-order {
  @include text("Raleway", normal, 600, 14px, 120%, #ffffff);
  background: #5ece7b;
  border: none;
  padding: 13px 116px;
  margin-top: 16px;
  cursor: pointer;
  margin-bottom: 100px;
}
