.header {
  z-index: 2;
  position: relative;
  background: #fff;
}

.header_container {
  display: flex;
  align-items: center;
}

.nav {
  padding-top: 24px;
}

.nav_list {
  display: flex;
  & > li {
    position: relative;
    padding: 4px 16px 32px 16px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.nav_link {
  @include text("Raleway", normal, 400, 16px, 120%, $basic-color);
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.active {
  @include text("Raleway", normal, 600, 16px, 120%, #5ece7b);
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #5ece7b;
  }
}

.logo_container {
  width: 41px;
  height: 41px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-left: 325px;
  margin-right: auto;
  cursor: pointer;
}

.basket_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_arrow {
  padding: 0 0;
  border: none;
  height: 3px;
  width: 6px;
  background-color: inherit;
  margin-left: 5px;
  padding: 5px 5px;
  cursor: pointer;
  position: relative;
}

.btn_basket {
  padding: 0 0;
  border: none;
  height: 20px;
  margin-left: 22px;
  background-color: inherit;
  cursor: pointer;
  position: relative;
}

.arrow_down {
  margin-bottom: 50px;
}

.bag {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $basic-color;
  position: absolute;
  bottom: 8px;
  left: 14px;
  z-index: -1;
  @include text("Roboto", normal, 700, 14px, 16px, #fff);
}
