.category-name {
  @include text("Raleway", normal, 400, 42px, 160%, $basic-color);
  margin-bottom: 103px;
  margin-top: 75px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.gallery_list {
  display: flex;
  align-items: center;
  // align-content: flex-start;
  flex-wrap: wrap;
  // margin-bottom: -103px;
  // margin-right: -40px;
  // justify-content: space-around;
  width: calc(1238px - 80px / 3);
}

.gallery_item {
  position: relative;
  padding: 16px 16px;
  margin-right: 40px;
  margin-bottom: 103px;
  &:hover {
    box-shadow: (0px 4px 35px rgba(168, 172, 176, 0.19));
  }
}

.gallery_item--disabled {
  position: relative;
  padding: 16px 16px;
  margin-right: 40px;
  margin-bottom: 103px;
  opacity: 0.5;
}

.btn_add-basket {
  position: absolute;
  bottom: 72px;
  right: 31px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #5ece7b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery_brand {
  margin-top: 24px;
  @include text("Raleway", normal, 300, 18px, 160%, $basic-color);
}

.gallery_brand--disabled {
  margin-top: 24px;
  @include text("Raleway", normal, 300, 18px, 160%, #8d8f9a);
}

.gallery_price {
  @include text("Raleway", normal, 500, 18px, 160%, $basic-color);
}

.gallery_price--disabled {
  @include text("Raleway", normal, 300, 18px, 160%, #8d8f9a);
}

.gallery_out {
  @include text("Raleway", normal, 400, 24px, 160%, #8d8f9a);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -75px;
}

.backdrop {
  background: rgba(57, 55, 72, 0.22);
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
