.item_container {
  display: flex;
  margin-top: 80px;
  margin-bottom: 178px;
}

.item_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.container_photo {
  display: flex;
}

.item_image {
  margin-left: 40px;
  margin-right: 100px;
}

.item_container-info {
  margin-bottom: 43px;
  & > p:first-child {
    @include text("Raleway", normal, 600, 30px, 27px, $basic-color);
    margin-bottom: 16px;
  }
  & > p:last-child {
    @include text("Raleway", normal, 400, 30px, 27px, $basic-color);
  }
}

.item_name-options {
  @include text("Roboto Condensed", normal, 700, 18px, 18px, $basic-color);
  margin-bottom: 8px;
}

.item_options-color {
  border: none;
  padding: 1px 1px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background-color: inherit;
  &:not(:last-child) {
    margin-right: 8px;
  }
  & > div {
    width: 32px;
    height: 32px;
  }
}

.item_options-color--active {
  border: 1px solid #5ece7b;
  padding: 1px 1px;
  cursor: pointer;

  background-color: inherit;
  &:not(:last-child) {
    margin-right: 8px;
  }
  & > div {
    width: 32px;
    height: 32px;
  }
}

.item_change-options {
  @include text("Source Sans Pro", normal, 400, 16px, 18px, $basic-color);
  border: 1px solid $basic-color;
  background-color: inherit;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  margin-bottom: 24px;
  cursor: pointer;
}

.item_change-options--active {
  @include text("Source Sans Pro", normal, 400, 16px, 18px, #ffffff);
  background: $basic-color;
  width: 63px;
  height: 45px;
  border: 1px solid $basic-color;
  margin-right: 12px;
  margin-bottom: 24px;
  cursor: pointer;
}

.item_container-price {
  margin-top: 36px;
  margin-bottom: 20px;
  & > p:first-child {
    @include text("Roboto Condensed", normal, 700, 18px, 18px, $basic-color);
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  & > p:last-child {
    @include text("Raleway", normal, 700, 24px, 18px, $basic-color);
  }
}

.item_btn-add {
  @include text("Raleway", normal, 600, 16px, 120%, #ffffff);
  background: #5ece7b;
  border: none;
  width: 292px;
  height: 52px;
  cursor: pointer;
  margin-bottom: 40px;
}

.description_text {
  @include text("Roboto", normal, 400, 16px, 159.96%, $basic-color);
}
